<div class="header">
<h3 ><a href="/">Orestes "Pat" Hastings</a></h3>
	<ul class="nav nav-pills">
		<!-- <li class="{{ page.projects }}"><a href="/projects" title="Projects">Projects</a></li> -->
		<li class="{{ page.research }}"><a href="/research" title="Research">Research1</a></li>
		<li class="{{ page.resources }}"><a href="/resources" title="Research">Resources</a></li>
		<!-- <li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li> -->
		<li class="{{ page.cv }}"><a href="/HastingsCV.pdf" title="CV">CV</a></li>
	</ul>
</div> <!-- /header -->


