<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.cv }}"><a href="/HastingsCV.pdf" title="CV">CV</a></li>
		<li class="{{ page.research }}"><a href="/research" title="Research2">Research</a></li>
		<li class="{{ page.resources }}"><a href="/resources" title="Resources">Resources</a></li>
		<li class="{{ page.personal }}"><a href="/personal" title="Personal">Personal</a></li>
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
</div> <!-- /header -->
<div class="header">
<h3 class="text-muted"><a href="/">Orestes "Pat" Hastings</a></h3>
</div>



